<div class='card'>
  <div class='card-header'>
    About
  </div>

  <div class='card-block'>
    <blockquote class='card-blockquote'>
      <p class='card-text text-small'>Y Combinator provides seed funding for startups. Seed funding is the earliest stage of venture funding. It pays your expenses while you’re getting started.</p>

      <footer>
        <small class='text-small'>
          <span class='text-muted'>Paul Graham in </span>
          <cite title='About Y Combinato'>About Y Combinator</cite>
        </small>
      </footer>
    </blockquote>
  </div>
</div>
