<div class='card-columns'>
  <div *ngFor='#item of stories' class='card'>
    <img class='img-fluid' src='http://localhost:3000/app/images/filler.jpg' data-src='http://lvh.me:3000/app/images/filler.jpg' alt='Card image cap' />
    <div class='card-block'>
      <h4 class='card-title'>
        <small class='text-muted'>
          <a href='{{ item.url }}' class='ellipsis'>{{ item.title }}</a>
        </small>
      </h4>
      <h6 class='card-subtitle'>
        <span class='text-xs-left'>
          By: <span class='text-muted'>{{ item.by }}</span>
        </span>
        <span class='text-xs-right label label-default'>{{ item.score }}</span>
      </h6>

      <p class='card-text m-t-1'>
        <small class='text-small'>
          <a href='{{ item.url }}' target='_blank'>{{ item.url }}</a>
        </small>
      </p>

      <form>
        <fieldset class='form-group'>
          <textarea class='form-control' rows='3' placeholder='Add comment'></textarea>
        </fieldset>
        <fieldset class='form-group text-xs-right'>
          <button class='btn btn-primary-outline'>Submit</button>
        </fieldset>
      </form>

      <div *ngFor='#comment of comments'>
        <comment [comment]='comment'></comment>
      </div>
    </div>
  </div>
</div>
